<div class="full">
    <div class="top">
        <div class="inp">
            <!-- <div class="search"> -->
            <!-- <input type="number" name="text" placeholder="" class="input" [(ngModel)]="Aadhar"> -->
            <input type="text" name="aadhar" placeholder="Aadhar" [value]="Aadhar" class="input" disabled />
            <input type="text" name="text" placeholder="" class="input" [(ngModel)]="CompanyName" >
            <span class="showbutt">
                <button (click)="getItemById()" class="nexbut1">Show</button>
                <input type="button" class="button" value="Profile" (click)="editpro()">
                <input type="button" class="button1" value="Education" (click)="editedu()">
            </span>
            <!-- </div> -->
        </div>
    </div>

    <div class="sub-table">
        <div *ngIf="selectedItem">
            <form (submit)="updateItem()">
                <table>
                    <tr>
                        <th>Aadhar:</th>
                        <td><input type="text" required id="firstname" class="fixed-header" name="firstname"
                                [(ngModel)]="selectedItem.Aadhar" disabled></td>
                    </tr>

                    <tr>
                        <th>CompanyName:</th>
                        <td><input type="text" required id="lastname" class="fixed-header" name="lastname"
                                [(ngModel)]="selectedItem.CompanyName"></td>
                    </tr>
                    <tr>
                        <th>DesignationDepartmentEmployeeNo:</th>
                        <td><input type="date" required id="dob" class="fixed-header"
                                name="DesignationDepartmentEmployeeNo"
                                [(ngModel)]="selectedItem.DesignationDepartmentEmployeeNo">
                        </td>
                    </tr>
                    <tr>
                        <th>AddressTelephone:</th>
                        <td><input type="text" required id="fathername" class="fixed-header" name="AddressTelephone"
                                [(ngModel)]="selectedItem.AddressTelephone">
                        </td>
                    </tr>
                    <tr>
                        <th>ReportingManagerDetails:</th>
                        <td><input type="text" required id="aadhar" class="fixed-header" name="ReportingManagerDetails"
                                [(ngModel)]="selectedItem.ReportingManagerDetails"></td>
                    </tr>
                    <tr>
                        <th>EmploymentDates:</th>
                        <td><input type="text" required id="Hobbies" class="fixed-header" name="EmploymentDates"
                                [(ngModel)]="selectedItem.EmploymentDates"></td>
                    </tr>
                    <tr>
                        <th>AnnualCTC:</th>
                        <td><input type="text" required id="AnnualCTC" class="fixed-header" name="AnnualCTC"
                                [(ngModel)]="selectedItem.AnnualCTC">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="show" class="nexbut">Update</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
